body {
  background-color: white;
}
h1 {
  color: #545454;
}
p {
  color: black;
}
/* 1. This styles all links by default */
a {
    color: #007377 !important; /* Sets the link color (MSS Teal) */
    text-decoration: underline; /* Ensures the underline is visible */
    font-weight: 600;           /* Optional: Makes the text slightly bolder so it stands out */
    transition: color 0.2s ease;/* Makes the color transition smooth */
}

/* 2. This changes the link color when a user hovers over it */
a:hover {
    color: #0C2340;             /* Shifts to Navy on hover */
    text-decoration: underline; /* Keeps the underline while hovering */
}
button {
    background-color: #007377; /* Sets the button background to MSS teal */
    color: white;              /* Sets the text color */
    border: #7c878e;              /* adding border so its easier to read */
    padding: 10px 20px;        /* Adds some space around the text */
    cursor: pointer;           /* Makes the mouse turn into a hand icon */
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0C2340;  /* Shifts to a darker blue */
    color: #f1f2f6;             /* Slightly changes text color if you want */
}
/* 1. The normal closed button */
.accordion-btn {
    background-color: #007377; /* teal when closed */
    color: white;
    padding: 15px;
    width: 100%;
    border: #7c878e;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 2. When the user hovers over it */
.accordion-btn:hover {
    background-color: #0C2340; /* Navy on hover */
}

/* 3. When the accordion is OPEN */
.accordion-btn.active {
    background-color: #CF7F00; /* orange when open */
    color: white;           
}
